<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="3.9.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.1.0" targetFramework="net452" />
  <package id="Google.Protobuf.Tools" version="3.1.0" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.5.0" targetFramework="net452" />
</packages>